<div class="p-3">
  <div class="card">
    <div class="card-body">
      <h3>Demands</h3>
      <div class="d-flex justify-content-end mb-3">
        <button (click)="getAllEquipments()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">Make Reservation</button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>user</th>
            <th>view equipments</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let demand of demands$ | async">
            <td>{{ demand.id }}</td>
            <td>{{ demand.user.name }}</td>
            <td><button (click)="getEquipmentDemand(demand.id)" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">view</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel1">Make Reservation</h1>
        <button id="close-modal-btn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-column align-content-around">
        <form #myForm="ngForm" action="">
        <label >Equipment</label>
        <select [(ngModel)]="reservationToEquipments" class="form-control input-group"  name="equipment"  required>
          <option  value="{{equipment.id}}" *ngFor="let equipment of equipments$ | async">{{equipment.name}}</option>
        </select>
        <br>
        <label >Start Date</label>
        <input [(ngModel)]="startDate" class="form-control input-group" type="date" name="startDate"  required>
        <br>
        <label >End Date</label>
        <input [(ngModel)]="endDate" class="form-control input-group"  type="date" name="endDate"  required>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveReservation(myForm)">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Reservation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <li *ngFor="let reservaion of selectedDemand$|async" >{{ reservaion.equipment.name +" from "+reservaion.startDate +" to "+  reservaion.endDate}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
