<div class="p-3">
  <div class="card">
    <div class="card-body">
      <h3>Offers</h3>
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Devis ID</th>
          <th>Start date</th>
          <th>End date</th>
          <th> </th>
          <th> </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let offer of offers | async">
          <td>{{ offer.id }}</td>
          <td>{{ offer.devis.id }}</td>
          <td>{{ offer.startDate }}</td>
          <td>{{ offer.endDate }}</td>
          <td>
            <Button (click)="sendOffer(offer)" class="btn btn-outline-success">
              send
            </Button>
          </td>
          <td>
            <Button (click)="deleteOffer(offer)" class="btn btn-outline-danger">
              delete
            </Button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
